.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-modal);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.lines {
  display: flex;
  gap: var(--spacing-xl);
}

.line {
  width: 30px;
  height: 200px;
  background-color: var(--color-main);
  border-radius: var(--spacing-xxl);
  transform: translateY(100px) rotate(45deg);
  opacity: 0;
  animation: slideIn 1s forwards;
}

.line:nth-child(1) {
  animation-delay: 0s;
}

.line:nth-child(2) {
  animation-delay: 0.2s;
}

.line:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes slideIn {
  to {
    transform: translateY(0) rotate(10deg);
    opacity: 1;
  }
}
