.container {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  z-index: var(--z-modal);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.open {
  top: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--container-secondary);
  box-shadow: var(--shadow);
  padding: var(--spacing-m);
  border-radius: 0 0 var(--spacing-xl) var(--spacing-xl);
}

.content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: var(--spacing-xl);
}

.content > * {
  margin-top: auto;
  margin-bottom: auto;
}
