.container {
  height: 44px;
  background: var(--container-secondary);
  box-shadow: var(--shadow);
  border-radius: var(--spacing-m);
  padding: var(--spacing-s) var(--spacing-m);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-m);
}

.container.disabled,
.input.disabled {
  cursor: not-allowed;
}

.container.hasIcon {
  padding-right: 10px;
}

.input {
  color: var(--text);
  background: var(--container-secondary);
  font-family: var(--font-family-main);
  font-size: 16px;
  border: none;
  outline: none;
  flex: 1;
}

.input::placeholder {
  color: var(--color-gray);
}
