.container {
  min-width: 0;
  background: var(--container-secondary);
  box-shadow: var(--shadow);
  padding: var(--spacing-m);
  border-radius: var(--spacing-l);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  text-decoration: none;
  transition: var(--transition);
}

.imageContainer {
  overflow: hidden;
  display: flex;
  position: relative;
  border-radius: var(--spacing-m);
}

.image {
  width: 100%;
  height: auto;
  border-radius: var(--spacing-m);
  transition: var(--transition);
}

.working {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-blur);
}

.workingTitle {
  width: 90%;
  font-size: 24px;
  text-align: center;
  color: var(--color-white);
}

.title,
.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  width: fit-content;
  /* -webkit-tap-highlight-color: transparent; */
  font-size: 20px;
}

.description {
  color: var(--color-gray);
}

@media (hover: hover) {
  .container:hover {
    transform: translateY(-5px);
  }
}

@media (hover: none) {
  .container:active {
    transform: translateY(-5px);
  }
}
