.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleOuter {
  position: relative;
  width: 300px;
  height: 300px;
}

.circleOuter .circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--text);
  stroke-width: 2;
  stroke-dasharray: 5 10;
  stroke-linecap: round;
  animation: rotateClockwise 60s linear infinite;
}

.circleInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}

.circleInner .circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--text);
  stroke-width: 2;
  stroke-dasharray: 5 8;
  stroke-linecap: round;
  animation: rotateCounter 60s linear infinite;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-s);
}

.title {
  color: var(--text);
  text-align: center;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCounter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
