.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
  padding: var(--spacing-xs);
}

.content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--spacing-s);
}

.title {
  color: var(--color-white);
  font-size: 42px;
  text-align: center;
  cursor: default;
}

.links {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.reserved {
  color: var(--color-white);
  cursor: default;
}

@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }

  .reserved {
    font-size: 14px;
  }
}
