.container {
  width: 100%;
  background: var(--container-primary);
  box-shadow: var(--shadow);
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-l) var(--spacing-l);
  border-radius: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxxl);
}
