.container {
  width: 100%;
  background: var(--container-primary);
  box-shadow: var(--shadow);
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-l) var(--spacing-l);
  border-radius: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  cursor: default;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-l);
}

.grid > * {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-m);
}

.primaryColumn {
  grid-row: 1;
  grid-column: 1;
}

.secondColumn {
  grid-row: 1;
  grid-column: 2;
}

.thirdColumn {
  grid-row: 1;
  grid-column: 3;
}

.quaternaryColumn {
  grid-row: 1;
  grid-column: 4;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xxl);
  }

  .quaternaryColumn {
    grid-row: 2;
    grid-column: 2;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-m);
  }

  .thirdColumn {
    grid-row: 2;
    grid-column: 1;
  }

  .quaternaryColumn {
    grid-row: 2;
    grid-column: 2;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .primaryColumn {
    grid-row: 1;
    grid-column: 1;
  }

  .secondColumn {
    grid-row: 2;
    grid-column: 1;
  }

  .thirdColumn {
    grid-row: 3;
    grid-column: 1;
  }

  .quaternaryColumn {
    grid-row: 4;
    grid-column: 1;
  }
}
