.container {
  color: var(--text);
  font-size: 38px;
}

.content {
  position: relative;
}

.word {
  display: inline-block;
  animation: slide 1s ease forwards;
  color: var(--color-main);
}

.enter {
  animation: slideIn 0.6s ease forwards;
}

.exit {
  animation: slideOut 0.6s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(20%);
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    font-size: 32px;
  }
}
