.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.content {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

.chapter {
  width: 50em;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxxl);
  margin-top: var(--spacing-xxl);
}

@media (max-width: 1200px) {
  .content {
    gap: var(--spacing-xl);
  }

  .chapter {
    width: 94%;
    gap: var(--spacing-xxl);
    margin-top: var(--spacing-xxl);
  }
}
