@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --spacing-xs: 10px;
  --spacing-s: 40px;

  --transition: 300ms;

  --font-family-main: "Inter";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  touch-action: none;
  height: 100%;
}

body {
  background: var(--color-black);
  font-family: var(--font-family-main);
  font-weight: 500;
}

@media (max-width: 1200px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

a {
  text-decoration: none;
}
