@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

:root {
  --color-white: #ffffff;
  --color-gray: #a8a8a8;
  --color-main: #00baff;
  --color-main-dark: #0d2833;

  --color-black: #111111;
  --color-black-light: #161616;
  --color-gray-dark: #1a1a1a;
  --color-gray-light: #202020;

  --color-select: #9bd0ffaf;
  --color-blur: rgba(0, 0, 0, 0.8);

  --box-shadow: 0px 0px 10px rgba(149, 187, 216, 0.4);

  --spacing-xs: 3px;
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 15px;
  --spacing-xl: 20px;
  --spacing-xxl: 30px;
  --spacing-xxxl: 70px;

  --transition: 300ms;

  --z-header: 1;
  --z-modal: 2;

  --font-family-main: "Inter";
}

:root[data-theme="light"] {
  --background: var(--color-white);
  --container-primary: var(--color-white);
  --container-secondary: var(--color-white);
  --container-tertiary: var(--color-white);
  --text: var(--color-main-dark);
  --shadow: var(--box-shadow);
}

:root[data-theme="dark"] {
  --background: var(--color-black);
  --container-primary: var(--color-black-light);
  --container-secondary: var(--color-gray-dark);
  --container-tertiary: var(--color-gray-light);
  --text: var(--color-white);
  --shadow: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  touch-action: none;
  height: 100%;
}

body {
  background: var(--background);
  font-family: var(--font-family-main);
  font-weight: 500;
}

@media (max-width: 1200px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

a {
  color: var(--color-main);
  transition: var(--transition);
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}

@media (hover: none) {
  a:active {
    text-decoration: none;
  }
}

*::selection {
  background: var(--color-select);
}

@media (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--color-gray);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-main);
  }
}
