.container {
  width: 100%;
  background: var(--container-primary);
  box-shadow: var(--shadow);
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-s) var(--spacing-l);
  border-radius: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.content {
  padding: var(--spacing-m);
  display: flex;
  gap: var(--spacing-m);
  overflow-x: auto;
  scrollbar-width: none;
  touch-action: pan-y;
  -webkit-mask-image: linear-gradient(to right, transparent, black 3%, black 97%, transparent);
}

.content::-webkit-scrollbar {
  display: none;
}
