.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.title,
.link {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  color: var(--text);
  font-size: 18px;
}

.link {
  width: fit-content;
  font-size: 18px;
  text-decoration: none;
  transition: transform 0.2s ease;
}

@media (hover: hover) {
  .link:hover {
    transform: translateX(5px);
  }
}

@media (hover: none) {
  .link:active {
    transform: translateX(5px);
  }
}
